<!DOCTYPE html>
<html lang="en">
<head>
    <title> DATA </title>
   
    <!--<link rel="stylesheet" href="{{STATIC_URL}}/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    
    <style>
    h1
    {
      margin-bottom: 50px;
     }
    
    .table-edits
    {
     font-size: 15px ;
     }
    
    .table-edits tbody tr td, .table-edits thead tr th
    {
     padding: 0.3rem ;
     
     }
    
    </style>	
</head>
<body>
    
     <div class = "container">
            <br>
           
                <h1 class = "text-center"> 
                    AMARIN FINANCIAL OCR EXTRACTER
                </h1>
                
                		<table class="table table-striped table-edits">
                    		<thead>
                				<tr>
                					  <th >NAME </th>
                                 <th >PHONE NUMBER</th>
                                 <th >LOCATION</th>
                    
                				</tr>
                			</thead>
                				<tbody>
                                  {%for data in resultlist %}
                               <tr >
                    				    <td>{{resultlist[data][name]}}</td>
                                   <td>{{resultlist[data][number]}}</td>
                                   <td>{{resultlist[data][location]}}</td>
                			    </tr>              
                                  {% endfor %}
                								
                				</tbody>
                		 </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>	
		
</body>
</html>